@import "reset.css";

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

pre {
  font-family: "Nanum Gothic", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
